<!--[ footer ] -->
  <div id="footer">
    <div class="container-fluid">
      	<footer class="page-footer " style="background: rgba(255, 23, 68,1)!important;
	    overflow: hidden;">
		    <div class="container">
		        <div class="row">
		            <div class="col l9 s12">
		                <h3 class="white-text"><a href="/About-Houseey/" class="white-text" target="_blank">About Us</a></h3>
		                <p class="grey-text text-lighten-4 white-text">Houseey.com is an emerging online real estate portal with an aim to help
		    you find your “Key to Happiness”. Born out of a fusion of passionate
		    problem solving and funded by top investors, we strive to become the most
		    trusted platform to find your DREAM HOME in India.</p>
		            </div>
		            <div class="col l3 s12 social">
		                <h5 class="white-text">Follow Us</h5>
		                <a href="https://www.facebook.com/houseey.in/" target="_blank"> <span class="icon-facebook"></span></a>
		                <a href="https://twitter.com/HouseeyIndia" target="_blank"><span class="icon-twitter"></span></a>
		                <a href="https://www.instagram.com/houseeyindia/" target="_blank"><span class="icon-instagram"></span></a>
		                <a href="https://in.pinterest.com/houseeyIndia/" target="_blank"><span class="icon-pinterest"></span></a>
		                
		            </div>
		            <div class="col l3 s12 " style="margin-top: 10px;border: 1px solid white;padding: 10px;">
		                <h5 style="color:white">Subscribe Newsletter</h5>                  
		                        <div id="nlspin" class="progress" style="display:none">
		                            <div class="indeterminate"></div>
		                         </div>
		                        <div class="col l12 s12 m12"><input style="border-bottom:1px solid white;color:white" id="newsletteremail" placeholder="enter mail id to subscribe" type="email" class="validate" input-email-validate=""></div>
		                        <div class="col l12 s12 m12"><a class="waves-effect waves-light btn btnnewsletter" href="/Home/AddNewsletter" id="addemail">Submit</a></div>
		                        <div class="col l12 s12 m12" id="validationMessage" style="display: none;"></div>
		            </div>
		        </div>
		        <div class="row">          
		            <div class="col l12 s12 footerlinks">
		                
		                <a href="/" target="_blank"> Home</a>
		                <a href="/About-Houseey/" target="_blank">About Us</a>
		                <a href="http://houseey.in" target="_blank">Blog</a>
		                <a href="/Rera-Houseey/" target="_blank">Rera Policy</a>
		                <a href="/Terms-of-use-Houseey/" target="_blank">Terms &amp; Conditions</a>
		                <a href="/Privacy-Policy-houseey/" target="_blank">Policy of Use</a>
		                <a href="/unsubscribe/" target="_blank">Unsubscribe</a>
		                <a href="/Contact-Houseey/" target="_blank">Contact Us</a>
		            </div>
		        </div>
		    </div>
		    <div class="footer-copyright"><div class="container">Houseey ® All Rights Reserved 2017-2018</div></div>
		</footer>
    </div>
  </div>
