.search-form {
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-right: 0px;
  padding-left: 0px;
}

.search-form > .textbox {
  outline: 0;
  height: 42px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.search-form > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

.search-form > .button {
  outline: 0;
  background: none;
  background-color: rgba(255,23,68,.88);
  float: left;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.search-form > .button:hover {
  background-color: rgba(0, 150, 136, 0.8);
}

.modal-dialog{
  margin:0px !important;
}

#search-group > a{
  text-decoration: none !important;
  color:white !important;
}

#search-group > a:hover{
  text-decoration: none !important;
}

#search-group .card-header{
  background-color:rgba(255,23,68,.88) !important;
}

#search-group > a:hover{
  text-decoration: none !important;
  color: white !important;
}

#search-group   a{
  text-decoration: none !important;
  color: white !important;
}

.property-content{
  height: 350px;
  overflow-y: auto;
}

.search-form[_ngcontent-c4] > .button[_ngcontent-c4]:hover {
  background-color: rgba(255,23,68,.88) !important;
}

search-form[_ngcontent-c4] > a{
  text-decoration: none !important;
  color: white !important;
}

.card > a{
  color: white !important;
}
.dropdown-menu.show {
  width: 100%;
}